# Calculations V5

---

**IMPORTS**

In [1]:
import numpy as np
import pandas as pd
import numpy as np
from termcolor import colored

include all lines- sum the intensity if too close and combine

get activity Cs137

arrays as lines - isotope as class

resolution paper- function that gives resolution of the soft x-ray detector as a function of energy

approximate for hard x-ray detector - 0.25 ish too close at 10 0.5 at upper

1-15/20 and 5-40/50 soft and hard relatively

---

**CLASSES (currently hidden- click on blue bar on left of module to access)**

In [2]:
#Fe-55 Line 1 Class

class Fe55_L1:

    name = "Fe55_L1"
    
    energy = 5.9
    
    intensity= 0.287
    
    amount_act = 100
    
    ap_size =6e-4

In [3]:
#Fe-55 Line 2 Class

class Fe55_L2:

    name = "Fe55_L2"
    
    energy = 6.5
    
    intensity= 0.0198
    
    amount_act =100
    
    ap_size =6e-4

In [4]:
class Am241_L1:
    
    name = "Am241_L1"
 
    energy = 59.6

    intensity= 0.359
    
    amount_act = 1
    
    ap_size =1.5e-1

In [5]:
class Am241_L2:

    name = "Am241_L2"

    energy = 26.3448
    
    intensity= 0.024
    
    amount_act = 1
    
    ap_size =1.5e-1

In [6]:

class Am241_L3:

    name = "Am241_L3"
    
    energy = 17.751
    
    intensity= 0.1107
    
    amount_act = 1
    
    ap_size =1.5e-1

In [7]:
class Zn65_L1:
    
    name = "Zn65_L1"
    
    energy= 8.048
    
    intensity = 0.359
    
    amount_act= 10
    
    ap_size = 6e-4

In [8]:
class Ba133_L1:
    
    name = "Ba133_L1"
    
    energy = 31.0
    
    intensity = 0.994
    
    amount_act =10
    
    ap_size = 1.5e-1

In [9]:
class Ba133_L2:
    
    name = "Ba133_L1"
    
    energy = 81.0
    
    intensity = 0.3406
    
    amount_act =10
    
    ap_size = 1.5e-1

In [10]:
class Ba133_L3:
    
    name = "Ba_133_L3"
    
    energy = 4.3
    
    intensity = 0.098
    
    amount_act =10
    
    ap_size = 6e-4

In [11]:
class Cs137_L1:
    
    name = "Cs137_L1"
    
    energy = 32.0
    
    intensity = 5.8
    
    amount_act = 235
    
    ap_size = 1.5e-1

---

**VARIABLES**

In [12]:
max_source_rate = 10000

min_line_counts = 1000

#hardxray ap size
#soft x-ray ap size
#call variable within classes

#Integration time in seconds
int_time = 1800

min_line_rate = min_line_counts/int_time

#decays per second
decays_sec = 3.7e4

#distance from the spectrometer in cm
distance = 8

---

**CALCULATE FUNCTION**

In [13]:
#This function is design to pass through 3 classes, each of which contain data for a line emission within an isotope
# Calculate (class 1, class 2, class 3)
#If lines do not exist for that isotope, put a 0 in the place of that class
#The output 1 of this function is currently a set of print statements that act as the notification for constaint compliance
#Output 2 of this function is currently a df but can easily be a numpy array if needed

def Calculate(line_1, line_2, line_3):
    
    #Create empty array to store calculation results and associated features
    calc_array = []
    
    #*******Line 1 Calcs*********************
    
    #Calculate the count rate for line1 in photons/sec
    count_rate1 = (line_1.intensity*decays_sec*line_1.amount_act*line_1.ap_size)/(4*np.pi*(distance**2))
    
    #Calculate total count for line 1 over the integration time 
    line_count1 = (count_rate1* int_time) #Will multiply this times efficiency of detector- unitless- 
    
    #append results as a row to array with associated features
    calc_array.append([line_1.name,line_1.energy, "{:.3e}".format(count_rate1), "{:.3e}".format(line_count1), int_time/60, distance])
    
    #************Line 2 Calcs*****************
    
    #If the isotope as a second emission:
    if line_2 != 0:
        
        #Calculate the count rate for line 2 in photons/sec
        count_rate2 = (line_2.intensity*decays_sec*line_2.amount_act*line_2.ap_size)/(4*np.pi*(distance**2))
        
        #Calculate total count for line 2 over the integration time
        line_count2 = (count_rate2* int_time)
        
        #append results as a row to array with associated features
        calc_array.append([line_2.name, line_2.energy, "{:.3e}".format(count_rate2), "{:.3e}".format(line_count2), int_time/60, distance])
   
    #If that isotope does not have a second emission:   
    else:
        
        #set count rate line 2 to 0
        count_rate2 = 0
        
        #set line 2 count
        line_count2 =0
        
    #**************Line 3 Calcs********************
    
    #If the isotope as a third emission:
    if line_3 != 0:
        
        #Calculate the count rate for line 2 
        count_rate3 = (line_3.intensity*decays_sec*line_3.amount_act*line_3.ap_size)/(4*np.pi*(distance**2))
        
        #Calculate total count for line 3 over the integration time
        line_count3 = (count_rate3* int_time)
        
        #append results as a row to array with associated features
        calc_array.append([line_3.name, line_3.energy, "{:.3e}".format(count_rate3), "{:.3e}".format(line_count3), int_time/60, distance])
    
    #If that isotope does not have a third emission: 
    else:
        
        #set count rate line 3 to 0
        count_rate3 =0
        
        #set line 3 count to 0
        line_count3 =0
    
    #*************Source Calcs***************************
    source_count_rate = count_rate1 + count_rate2 + count_rate3
    source_count = line_count1 + line_count2 + line_count3
    calc_array.append(["All Lines","All Energies","{:.3e}".format(source_count_rate), "{:.3e}".format(source_count), int_time/60, distance])
    
    
    #***************Constraints Notifications*********************
    
    #Print out whether each line count rate is within constraints or not if those lines exist
    #Should be a calculation
    if count_rate1 > min_line_rate:
        print(colored("count rate line 1 is within constraints", "green"))
    else:
        print(colored("count rate line 1 is NOT within constraints","red"))
        
    if line_2 != 0 and count_rate2 > min_line_rate:
        print(colored("count rate line 2 is within constraints", "green"))    
    elif line_2 != 0:
        print(colored("count rate line 2 is NOT within constraints","red"))
    
    if line_3 != 0 and count_rate3 > min_line_rate:
        print(colored("count rate line 3 is within constraints", "green"))    
    elif line_3 !=0 :
        print(colored("count rate line 3 is NOT within constraints","red"))    
    
    #Print out whether the overall source count rate is wihtin constraints or not
    if source_count_rate < max_source_rate:
        print(colored("Source Count Rate is within constraints", "green"))
    else:
        print(colored("Source Count Rate  is NOT within constraints","red"))   
    
    #Print out whether each line count is within constraints or not
    if line_count1 > min_line_counts:
        print(colored("total counts line 1 is within constraints", "green"))
    else:
        print(colored("total counts line 1 is NOT within constraints","red"))
        
    if line_2 != 0 and line_count2 > min_line_counts:
        print(colored("total counts line 2 is within constraints", "green"))
    elif line_2 != 0:
        print(colored("total counts line 2 is NOT within constraints","red"))
        
    if line_3 !=0 and line_count3 > min_line_counts:
        print(colored("total counts line 3 is within constraints", "green"))
    elif line_3 !=0:
        print(colored("total counts line 3 is NOT within constraints","red"))
    
    
    
    #********Format Results*********************************
    results_df = pd.DataFrame(calc_array)
    results_df.columns = ("Isotope _line#","Energy (keV)","Count Rate (photon/sec)", "Count (photons)","Integration Time (minutes)", "Distance (cm)")
    
    #*********Return Results********************************
    return results_df

In [14]:
#Calculate for Fe55
Cs137_results = Calculate(Cs137_L1,0,0)

#Display results
Cs137_results

count rate line 1 is within constraints
Source Count Rate is within constraints
total counts line 1 is within constraints

,Isotope _line#,Energy (keV),Count Rate (photon/sec),Count (photons),Integration Time (minutes),Distance (cm)
0,Cs137_L1,32,9.406e+03,1.693e+07,30.0,8
1,All Lines,All Energies,9.406e+03,1.693e+07,30.0,8

---
**Iron 55 Results**

---

In [15]:
#Calculate for Fe55
Fe55_results = Calculate(Fe55_L1,Fe55_L2,0)

#Display results
Fe55_results

count rate line 1 is within constraints
count rate line 2 is NOT within constraints
Source Count Rate is within constraints
total counts line 1 is within constraints
total counts line 2 is NOT within constraints

,Isotope _line#,Energy (keV),Count Rate (photon/sec),Count (photons),Integration Time (minutes),Distance (cm)
0,Fe55_L1,5.9,7.922e-01,1.426e+03,30.0,8
1,Fe55_L2,6.5,5.465e-02,9.838e+01,30.0,8
2,All Lines,All Energies,8.469e-01,1.524e+03,30.0,8

---
**Americium 241 Results**

---

In [16]:
#Calculate for Am241
Am241_results = Calculate(Am241_L1,Am241_L2,Am241_L3)

#Display Results
Am241_results

count rate line 1 is within constraints
count rate line 2 is NOT within constraints
count rate line 3 is within constraints
Source Count Rate is within constraints
total counts line 1 is within constraints
total counts line 2 is NOT within constraints
total counts line 3 is within constraints

,Isotope _line#,Energy (keV),Count Rate (photon/sec),Count (photons),Integration Time (minutes),Distance (cm)
0,Am241_L1,59.6,2.477e+00,4.459e+03,30.0,8
1,Am241_L2,26.3448,1.656e-01,2.981e+02,30.0,8
2,Am241_L3,17.751,7.639e-01,1.375e+03,30.0,8
3,All Lines,All Energies,3.407e+00,6.133e+03,30.0,8

---
**Zinc 65 Results**

---

In [17]:
##Calculate for Zn65
Zn65_results = Calculate(Zn65_L1,0,0)

#Display results
Zn65_results

count rate line 1 is NOT within constraints
Source Count Rate is within constraints
total counts line 1 is NOT within constraints

,Isotope _line#,Energy (keV),Count Rate (photon/sec),Count (photons),Integration Time (minutes),Distance (cm)
0,Zn65_L1,8.048,9.910e-02,1.784e+02,30.0,8
1,All Lines,All Energies,9.910e-02,1.784e+02,30.0,8

---
**Barium 133 Results**

---

In [18]:
##Calculate for Ba133
Ba133_results = Calculate(Ba133_L1,Ba133_L2,Ba133_L3)

#Display results
Ba133_results

count rate line 1 is within constraints
count rate line 2 is within constraints
count rate line 3 is NOT within constraints
Source Count Rate is within constraints
total counts line 1 is within constraints
total counts line 2 is within constraints
total counts line 3 is NOT within constraints

,Isotope _line#,Energy (keV),Count Rate (photon/sec),Count (photons),Integration Time (minutes),Distance (cm)
0,Ba133_L1,31,6.859e+01,1.235e+05,30.0,8
1,Ba133_L1,81,2.350e+01,4.231e+04,30.0,8
2,Ba_133_L3,4.3,2.705e-02,4.869e+01,30.0,8
3,All Lines,All Energies,9.213e+01,1.658e+05,30.0,8